# Ignore virtual environments
venv/
venv_driving/
env/

data/venv_driving/
# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store

# Logs
*.log

# Large ML files (optional)
*.pt
*.pth
*.h5
*.pkl